<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/products.css" />
		<meta name="description" content="Vue產品頁" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js" integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<title>產品列表</title>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<div class="productList">
					<div class="header">
						<h2>產品列表</h2>
						<button type="button" @click="openModal('','create');">新增產品</button>
					</div>
					<div class="tbl-header">
						<table cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th>產品名稱</th>
									<th>原價</th>
									<th>售價</th>
									<th>是否啟用</th>
									<th>查看細節</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="tbl-content">
						<table cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr v-for="product in products">
									<td>{{ product.title }}</td>
									<td style="text-align: center">{{ product.origin_price }}</td>
									<td style="text-align: center">{{ product.price }}</td>
									<td style="text-align: center"><span v-if="product.is_enabled == 1" style="color: rgb(13, 228, 13); font-weight: 900">是</span><span v-else style="color: rgb(235, 0, 0); font-weight: 900">否</span></td>
									<td style="text-align: center"><button type="button" class="edit" @click="openModal(product.id,'edit')">編輯</button><button type="button" class="delete" @click="deleteProduct(product.id)">刪除</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="modal" :style="{ display:showModal ? 'flex' : '' }">
					<div class="card">
						<div class="card-header">
							<img :src="currentProduct.imageUrl ? currentProduct.imageUrl : 'images/628711.png'" alt="mainImg" />
						</div>
						<div class="card-body">
							<div class="title">
								<label for="modal-title">產品標題</label>
								<input id="modal-title" type="text" v-model="currentProduct.title" />
							</div>
							<div class="description">
								<label for="modal-textarea">產品描述</label>
								<textarea id="modal-textarea" cols="1" rows="2" v-model="currentProduct.description"></textarea>
							</div>
							<div class="price">
								<label for="modal-price1">原價</label>
								<input id="modal-price1" type="number" v-model.number="currentProduct.origin_price" />
								<label style="padding-left: 4px" for="modal-price2">特價</label>
								<input id="modal-price1" type="number" v-model.number="currentProduct.price" />
							</div>
							<div class="price">
								<label for="modal-unit">單位</label>
								<input id="modal-unit" type="text" v-model="currentProduct.unit" />
								<label style="padding-left: 4px" for="modal-note">備註</label>
								<input id="modal-note" type="text" v-model="currentProduct.content" />
							</div>
							<div class="enable">
								<label>是否啟用</label>
								<div>
									<div>
										<input id="modal-enable1" name="modal-enable" type="radio" v-model="currentProduct.is_enabled" value="1" /><button type="button" :class="currentProduct.is_enabled == 1 ? 'active' : ''"><label for="modal-enable1">啟用</label></button>
									</div>
									<div>
										<input id="modal-enable2" name="modal-enable" type="radio" v-model="currentProduct.is_enabled" value="0" /><button type="button" :class="currentProduct.is_enabled == 0 ? 'active' : ''"><label for="modal-enable2">禁用</label></button>
									</div>
								</div>
							</div>
							<div class="category">
								<label>產品類別</label>
								<div>
									<div>
										<input id="modal-category1" name="modal-category" type="radio" v-model="currentProduct.category" value="麵包" /><button type="button" :class="currentProduct.category == '麵包'? 'active':''"><label for="modal-category1">麵包</label></button>
									</div>
									<div>
										<input id="modal-category2" name="modal-category" type="radio" v-model="currentProduct.category" value="蛋糕" /><button type="button" :class="currentProduct.category == '蛋糕'? 'active':''"><label for="modal-category2">蛋糕</label></button>
									</div>
									<div>
										<input id="modal-category3" name="modal-category" type="radio" v-model="currentProduct.category" value="甜甜圈" /><button type="button" :class="currentProduct.category == '甜甜圈'? 'active':''"><label for="modal-category3">甜甜圈</label></button>
									</div>
								</div>
							</div>
						</div>
						<div class="btnContainer">
							<div>
								<button type="button" class="cancel" @click="this.showModal = false">取消</button>
							</div>
							<div>
								<button v-if="modalStatus =='edit'" type="button" class="confirm" @click="editProduct(currentProduct.id)">編輯</button>
								<button v-else="modalStatus == 'create'" type="button" class="confirm" @click="createProduct()">新增產品</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="loading">
			<div class="loadingContainer">
				<div class="loader"></div>
			</div>
		</div>
		<script type="module">
			const url = "https://ec-course-api.hexschool.io/v2";
			const path = "binghank";
			import { createApp } from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.3/vue.esm-browser.min.js";
			createApp({
				data() {
					return {
						products: [],
						currentProduct: {},
						showModal: false,
						modalStatus: ""
					};
				},
				methods: {
					getAllProduct() {
						axios
							.post(`${url}/api/user/check`, null)
							.then((res) => {
								return axios(`${url}/api/${path}/admin/products/all`);
							})
							.then((response) => {
								const { products } = response.data;
								this.products = products;
								this.showModal = false;
								document.querySelector("#loading").style.display = "none";
							})
							.catch((err) => {
								const { success } = err.response.data;
								if (!success) {
									alert("請先登入");
									document.querySelector("#loading").style.display = "none";
									location.href = "index.html";
								}
							});
					},
					openModal(id = "", type) {
						if (type == "create") {
							this.currentProduct = {};
							this.modalStatus = "create";
						} else if ((type = "edit")) {
							this.currentProduct = { ...this.products[id] };
							this.modalStatus = "edit";
						}
						this.showModal = true;
					},
					createProduct() {
						document.querySelector("#loading").style.display = "block";
						const { currentProduct } = this;
						axios
							.post(`${url}/api/${path}/admin/product`, { data: currentProduct })
							.then((res) => {
								this.getAllProduct();
							})
							.catch((err) => alert("新增失敗"));
					},
					editProduct() {
						document.querySelector("#loading").style.display = "block";
						const { currentProduct } = this;
						axios
							.put(`${url}/api/${path}/admin/product/${currentProduct.id}`, { data: currentProduct })
							.then((res) => {
								this.getAllProduct();
							})
							.catch((err) => alert("更新失敗"));
					},
					deleteProduct(id) {
						if (confirm(`確認刪除${this.products[id].title}`)) {
							document.querySelector("#loading").style.display = "block";
							axios
								.delete(`${url}/api/${path}/admin/product/${id}`)
								.then((res) => {
									this.getAllProduct();
								})
								.catch((err) => alert("刪除失敗"));
						}
					}
				},
				mounted() {
					const token = document.cookie.replace(/(?:(?:^|.*;\s*)hexVueToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
					axios.defaults.headers.common.Authorization = token;
					if (!token) {
						alert("請先登入");
						location.href = "index.html";
					}
					this.getAllProduct();
				}
			}).mount("#app");
		</script>
	</body>
</html>
